<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login Social App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <section id="login-app"></section>
    <script src="/js/login/login-app.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>